html, body{
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.4;
  color: rgba(0,0,0,.7);
  background-color: #fff;
}

*{
  box-sizing: border-box;
}

a{
  color: #6e4228;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 2px solid #e9ddd7;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}
a:hover{
  border-color: #6e4228;
}

h1, h2{
  letter-spacing: -.04em;
}

svg {
  fill: currentColor;
}

p{
  margin-top: 0;
  padding-top: 0;
}

p sup{
  font-size: 12px;
  font-weight: bold;
}
p sup a{
  opacity: .5;
  text-decoration: none;
}
p sup a:hover{
  opacity: 1;
}

header{
  padding-top: 40px;
}
header h1{
  font-size: 1.2em;
  letter-spacing: -.02em;
  font-weight: normal;
  display: inline-block;
}
header .social{
  display: inline-block;
  word-spacing: .3em;
  margin-left: 1.7em;
}
header .social a{
  border: 0;
}
header .social a:hover{
  color: #000;
}
header .social svg{
  vertical-align: text-top;
}
header .desc{
  font-weight: 300;
  font-size: 2.5em;
  letter-spacing: -.1ex;
  line-height: 1.1;
  margin-bottom: .2em;
  font-family: Khula, 'lucida grande', 'lucida sans', 'helvetica neue', helvetica, arial, sans-serif;
}
header .desc b{
  font-weight: 400;
  color: #000;
}

.comma,
.ampersand {
  font-family: Alice, georgia, 'times new roman', times, serif;
  line-height: .9;
}

.container{
  margin: auto;
  max-width: 680px;
  padding-left: 1em;
  padding-right: 1em;
}

#next-meetup{
  background-color: #fff6ed;
  padding: .1em 1em 1em;
  margin: 0 -1em;
}
#next-meetup a{
  color: #000;
  transition: background-color .3s;
}
#next-meetup a:hover{
  background-color: #fff;
}
#next-meetup p:last-child{
  margin-bottom: 0;
}
#next-meetup h2{
  font-size: 1.1em;
}
#next-meetup dl{
  margin: 0;
  padding: 0;
}
#next-meetup dt{
  margin: 1em 0 0;
  opacity: .8;
}
#next-meetup dd{
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

#email-form{
  margin-bottom: 1em;
}
#email-form input{
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #6e4228;
  border-radius: 5px;
  padding: .25em .5em;
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
}
#email-form input[type=email]{
  margin-bottom: 10px;
}
#email-form input[type=submit]{
  background-color: #6e4228;
  color: #fff;
}
#email-form input[type=submit]:hover{
  opacity: .75;
}
#email-form input[type=submit]:active{
  opacity: 1;
}

footer{
  padding: 40px 0;
}

@media only screen and (min-width: 400px){
  #email-form{
    display: flex;
  }
  #email-form input[type=email]{
    margin: 0;
    max-width: 15em;
  }
  #email-form input[type=submit]{
    margin-left: 10px;
    width: auto;
  }
}

@media only screen and (min-width: 500px){
  header .desc{
    font-size: 3em;
  }
}