html, body{
  font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 788px){
  html, body{
    /* Hide scrollbar because of the rotating beams */
    overflow-x: hidden;
  }
}

header.jumbotron{
  color: #fff;
  background: #6e4228;
  text-align: center;
  margin-bottom: 1px;
  overflow: hidden;
}
header img{
  max-width: 100%;
  z-index: 10;
  position: relative;
}
header h1{
  font-weight: bold;
  letter-spacing: -2px;
}
header p{
  color: #e9ddd7;
}
.wide-container{
  color: #fff;
  background: #6e4228;
  margin-top: 60px;
  padding: 60px 20px;
}
.wide-container .content h2{
  margin-top: 0;
  color: #fff;
}
.wide-container a{
  color: #e9ddd7;
}
.wide-container a:hover{
  color: #fff;
}
.content{
  margin: auto;
  width: 480px;
  max-width: 100%;
}
.content h2{
  margin-top: 60px;
  color: #6e4228;
}
body>footer{
  border-top: 1px solid #eee;
  color: #999;
  margin-top: 6em;
  padding: 3em 0;
  text-align: center;
}

#kopi-legend{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
  margin: 0 0 60px;
  padding: 10px 5px 0;
  word-spacing: 5px;
  color: #fff;
  text-align: center;
  background: rgba(110, 66, 40, .9);
}
#kopi-legend li{
  display: inline-block;
  padding: 3px 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  word-spacing: normal;
  white-space: nowrap;
}
@media only screen and (min-width: 788px){
  #kopi-legend li{
    padding: 5px 15px;
  }
}
#kopi-legend li label{
  margin: 0;
  cursor: pointer;
}

#kopi-list{
  margin: 0;
  padding: 0;
  text-align: center;
  letter-spacing: 15px;
  line-height: 150px;
  color: #fff;
}
@media only screen and (min-width: 788px){
  #kopi-list{
    letter-spacing: 40px;
  }
}
#kopi-list li{
  display: inline-block;
  line-height: normal;
  transition: .6s opacity;
}
.kopi-name{
  text-align: center;
  margin-top: 10px;
  letter-spacing: normal;
  font-size: .9em;
}
.peng-name{
  display: none;
}
.peng .peng-name{
  display: inline;
}

.kopi{
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: 10;
  pointer-events: none;
}
.kopi *,
.kopi *:before{
  -webkit-transition: .3s all;
  transition: .3s all;
}
.kopi .sugar{
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  -webkit-transform: rotate(45deg) translateX(-40px);
  transform: rotate(45deg) translateX(-40px);
}
.kopi .sugar-double{
  -webkit-transform: rotate(45deg) translateX(-50px);
  transform: rotate(45deg) translateX(-50px);
  box-shadow: 20px 5px 0 rgba(255,255,255, 0.5);
}
.kopi .sugar-triple{
  -webkit-transform: rotate(45deg) translateX(-50px);
  transform: rotate(45deg) translateX(-50px);
  box-shadow: 20px 5px 0 rgba(255,255,255, 0.5), 30px -15px 0 rgba(255,255,255, 0.5);
}
.kopi .ice-blocks{
  position: absolute;
  opacity: 0;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}
.peng .kopi .ice-blocks{
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.kopi .ice{
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 22px;
  height: 22px;
}
.kopi .ice+.ice{
  top: 35px;
}
.kopi .ice+.ice+.ice{
  top: 60px;
}
.cup{
  box-sizing: border-box;
  position: relative;
  width: 80px;
  height: 70px;
  border-radius: 2px 0 25px 25px / 0 0 35px 35px;
  border: 10px solid #fff;
  border-top: 0 solid;
  margin: 0 auto;
}
.peng .cup{
  height: 100px;
}
.cup:before{
  content: '';
  display: block;
  box-sizing: border-box;
  border-radius: 0 25px 25px 0;
  border: 10px solid #fff;
  border-left: 0;
  height: 40px;
  width: 35px;
  right: -35px;
  position: absolute;
  z-index: -1;
}
.peng .cup:before{
  border: 10px solid #fff;
  border-radius: 0 20px 20px 0;
  height: 60px;
  top: 10%;
}
.ingredients{
  position: absolute;
  top: 10%;
  z-index: -1;
  height: 90%;
  width: 100%;
}

.sugar{
  color: #201816;
  background: rgba(255,255,255,0.5);
  text-shadow: 0 0 3px #fff;
}
.ice{
  color: #201816;
  background: rgba(255,255,255,0.9);
  text-shadow: 0 0 3px #fff;
}
.water{
  color: #201816;
  background: #C7E2F2;
  text-shadow: 0 0 3px #fff;
}
.coffee{
  background: #201816;
}
.condensed_milk{
  color: #201816;
  background: #E9DDD7;
  text-shadow: 0 0 3px #fff;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(0,0,0,.1) 10px,
    rgba(0,0,0,.1) 20px
  );
}
.evaporated_milk{
  color: #201816;
  background-color: #FFF6D7;
  text-shadow: 0 0 3px #fff;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10px,
    rgba(0,0,0,.1) 10px,
    rgba(0,0,0,.1) 20px
  );
}

.plate{
  background: #fff;
  width: 130px;
  height: 10px;
  border-radius: 35%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.peng .plate{
  opacity: 0;
  height: 0;
}

#meetup-container .btn{
  border: 1px solid #fff;
  display: block;
  white-space: normal;
}

@media only screen and (min-width: 500px){
  #meetup-container{
    background-attachment: fixed;
    background-position: center;
    background-image: url(kopi-meetup.jpg);
    background-size: cover;
  }

  #meetup-container .twitter-tweet{
    opacity: .85;
    transition: .3s opacity;
  }
  #meetup-container .twitter-tweet:hover{
    opacity: 1;
  }
}

/* QUOTE */

#quote{
  color: #6e4228;
  margin-top: 1.5em;
  font-size: 63px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: -2px;
  opacity: .5;
  -webkit-animation: pulse 2s ease-in-out infinite alternate;
  animation: pulse 2s ease-in-out infinite alternate;
}
#quote small{
  display: block;
  font-size: 40%;
}

@-webkit-keyframes pulse {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

/* BEAMS */

.beam-group{
  display: none;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 40px;
  margin: 180px 0 0;
  -webkit-perspective: 50px;
  perspective: 50px;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  -webkit-animation: wiggle 10s ease-in-out infinite alternate;
  animation: wiggle 10s ease-in-out infinite alternate;
}

@media only screen and (min-width: 788px){
  .beam-group{
    display: block;
  }
}

.beam{
  display: inline-block;
  width: 49%;
  height: 10px;
  background-color: rgba(255,255,255,.03);
  vertical-align: top;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
.beam-left{
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
  margin-bottom: 10px;
}
.beam-right{
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}

@-webkit-keyframes wiggle {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

@keyframes wiggle {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}
